include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin Btn(bg, text)
    if bg == true 
        button.btn.btn_bg= text
    else 
        button.btn= text

mixin CardComplexSolution(imgPath, title, link)
    .complexSolutionCard
        .image
            img(src= imgPath, alt="")
        h3= title
        a.learnMoreBtn(href= link) Узнать подробнее 

mixin CardTurmkeySolution(imgPath, text, btn, link)
    if btn == true
        .turnkeySolutionCardBtn
            img(src= imgPath, alt="")
            h3= text 
            a(href= link)
                span Узнать подробнее 
    else 
        .turnkeySolutionCard(style= `background-image: url(${imgPath});`)
            a.text(href= link)= text
            a.learnMoreBtn(href= link) Узнать подробнее 

mixin TitleSection(text)
    .titleSection
        img(src="../assets/images/lineTitle.png", alt="")
        h2.titleSection= text

mixin CardCostPrice(title, imgPath, list)
    .costPriceCard
        h3= title
        .image
            img(src= imgPath, alt="")
        ul
            each val in list
                li
                    span= val

mixin ProjectsSlide(imgPath, title, location, date, list)
    .projectsSlide
        img(src= imgPath, alt="")
        .descr
            h3= title
            .locationDate 
                p.location= location
                p.date= date
            ul 
                each val in list
                    li
                        span= val

mixin NewsSlide(date, title, text, imgPath)
    .newsSlide
        .descr
            p.date= date
            h3= title
            p.text= text
        img(src= imgPath, alt="")

mixin InternalPagesTitle(imgPath, title)
    .internalPagesTitle(style= `background: url(${imgPath}) no-repeat; background-size: cover;`)
        .container
            h1= title

mixin NumbersCard(title, descr)
    .numbersCard
        h3.title= title
        p.descr= descr

mixin TarGlassBlocksCard(text)
    .tarGlassBlocksCard 
        p= text

mixin DAMLIcon(pathIcon, text)
    .damlIcon
        .icon
            img(src= pathIcon, alt="")
        p= text

mixin DesigningCard(pathIcon, text)
    .designingCard
        img(src= pathIcon, alt="")
        p= text